.wrap{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/home-bg.png);
	background-size: 100% 100%;
	/*display: none;*/
}

@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 21px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
.head{
	width: 100%;
	position: absolute;
	height: 1.1rem;
	top: 0;
	left: 0;
	background-color: rgb(223,248,255);
}
.left{
	width: 7.9rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: greenyellow;
	
}
.left img{
	height: 0.86rem;
	margin-left: 5px;
	padding-top: 0.12rem;
	float: left;
}
.left span{
	float: left;
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: 0.7rem;
	margin-left: 0.4rem;
	
}
.right{
	height: 100%;
	margin-left: 7.9rem;
	margin-right: 0;
	background: greenyellow;
	position: relative;
	overflow: hidden;
}
.right span{
	position: absolute;
	height: 100%;
	left:0;
	top: 0;
	font-size: 0.7rem;
	line-height: 1.1rem;
	width: 12rem;
	/*background: red;*/
}
.top{
	background-image: url(../img/userBox.png);
	background-size: 100% 100%;
	position: absolute;
	top: 1.1rem;
	width: 100%;
	left: 0;
	margin-top: 0.3rem;
	overflow: hidden;
}
.name,.chicken,.egg{
	height: 1rem;
	background: rgb(231,197,95);
	/*float: left;*/
	position: absolute;
	border-radius: 10px;
}
.name{
	width: 45%;
	left: 20%;
	top: 0.4rem;
	/*bottom: 0.7rem;*/
	text-align: left;
}
.egg{
	left: 20%;
	width: 22%;
	text-align: right;
	bottom: 0.6rem;
 }
.chicken{
	width: 22%;
	right: 35%;
	text-align: right;
	bottom: 0.6rem;
}
.name img{
	float: right;
	height: 130%;
	margin-top: -2px;
}
.egg img,.chicken img{
	float: left;
	height: 100%;
}
.nspan,.espan,.cspan{
	float: right;
	height: 100%;
	line-height: 1rem;
	font-size: 12px;
	color: brown;
}
.nspan{
	float: left;
	margin-left: 3px;
	
}
.espan,.cspan{
	margin-right: 3px;
}
.sculpimg{
	float: left;
	margin-left: 6%;
	width: 13%;
	margin-top: 0.48rem;
	margin-bottom: 0.7rem;
	z-index: 2;
}
.set,.mail{
	/*position: absolute;*/
	float: right;
	width: 13%;
	margin-top: 0.5rem;
	z-index: 2;
	
}
.index_mail{
	float: inherit;
    width: auto;
	margin-top: 0px;
	margin-right: 5%;
	z-index: 2;
}
.mail{
	margin-right: 5%;
}
.set{
	margin-right: 3%;
}
.chart{
	position: absolute;
	width: 100%;
	bottom: 13%;
	top: 6.5rem;
}
@media only screen and (min-width: 600px) {
/*.chart{
	top: 7.1rem;	
	}*/
}
@media only screen and (min-width: 800px) {
/*.chart{
	top: 8rem;	
	}*/
}
.bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 12%;
	list-style-type: none;
}
.bottom a{
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	padding:20px;
	float: left;
}
.lmjy{background: url(../img/lmjy0.png) no-repeat center;
	background-size: 63px 63px;}
.lmgw{background: url(../img/lmgw0.png) no-repeat center;
background-size: 63px 63px;}
.lmrz{background: url(../img/lmrz0.png) no-repeat center;
background-size: 63px 63px;}
.lmgz{background: url(../img/lmgz0.png) no-repeat center;
background-size: 63px 63px;}
.chartboard{
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	background-image: url(../img/board4.png);
	background-size: 100% 100%;
	position: relative;
}
.title{
	position: absolute;
	width: 40%;
	left: 30%;
	top: -6px;
}
.chartboardin{
	position: absolute;
	width: auto;
	/*height: 80%;*/
	left: 13px;
	right: 13px;
	top: 44px;
	bottom: 3.8rem;
	border:2px solid #d8b78e;
	background-color: #fff;
	overflow: auto;
}
.newrate,.commonrate{
	/*position: absolute;*/
	
	float: left;
	padding-top: 10%;
	/*height: 5%;*/
	font-size: 0.7rem;
}
.newrate{
	margin-left: 5%;
	color: darkred;
	
}
.commonrate{
	margin-left: 6%;
	color: deepskyblue;
}
.enter{
	position: absolute;
	width: 60%;
	margin: 0 auto;
	left: 16px;
	right: 16px;
	bottom: 1rem;
	background-image: url(../img/btn-enter.png);
	background-size: 100% 100%;
	height: 2.4rem;
	text-align: center;
	font-size: 1rem;
	line-height: 2.2rem;
	color: white;
	
}
.scolpselect,.gamesetting,.mailbox,.explain{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
}
.gamesetting{
	display: none;
}
.mailbox{
	/*display: block;*/
}
.explain{
	/*display: block;*/
}
.mboard,.explainboard{
	position: absolute;
	width: 88%;
	left: 6%;
	height: 70%;
	top: 16%;
	background-image: url(../img/floor.png);
	background-size: 100% 100%;
}
.mword,.exword{
	position: absolute;
	top: 2.5%;
	width: 50%;
	left: 25%;
	text-align: center;
	line-height: 1;
	/*background: green;*/
	font-size: 0.9rem;
	color: white;
}
.mailin,.exin{
	position: absolute;
	width: 86%;
	left: 7%;
	height: 69%;
	top: 13%;
	border-radius: 8px;
	overflow: auto;
}

.mailin::-webkit-scrollbar{width:0px;}
.mailin::scrollbar{width:0px;}
.selectin::-webkit-scrollbar{width:0px;}
.selectin::scrollbar{width:0px;}
.exin::-webkit-scrollbar{width:0px;}
.exin::scrollbar{width:0px;}
.excontent{
	margin: 10px;
	/*height: 40px;*/
	border: 2px solid #ac8207;
	border-radius: 8px;
	background-color: rgb(255,247,210);
	overflow: hidden;
}
.mcontent{
	margin: 10px;
	/*height: 40px;*/
	border: 2px solid #ac8207;
	border-radius: 3px;
	background:#ffe177;
	overflow: hidden;
}
.exinword{
	margin: 10px;
	font-size: 16px;
	color: brown;
}
.getc{
	width:70%;
	height: 40px;
	/*margin-top: -0.05rem;*/
	font-size: 14px;
	text-align: left;
	color: #9a6020;
	line-height: 1.3rem;
	/* border-radius: 12px; */
	/*background: rgb(231,197,95);*/
	float: left;
	/*margin-left: 10%;*/
	overflow: auto;
	position: relative;
}
.gdate{
	width: 46%;
	height: 1.2rem;
	line-height: 1.2rem;
	float: right;
	color: darkred;
	font-size: 0.7rem;
	text-align: center;
}
.chisculp{
	position: absolute;
	left: -1rem;
	height: 1.3rem;
	
}
.mdate{
	margin:2px;
	/*height: 1.2rem;*/
	/*margin-top: 1rem;*/
	padding-top: 10px;padding-bottom: 10px;
	margin-bottom:10px;
	background-color:#ffce68;
	overflow: hidden;
}
.selectboard{
	position: absolute;
	width: 88%;
	left: 6%;
	height: 76%;
	top: 16%;
	background-image: url(../img/floor.png);
	background-size: 100% 100%;
}
.word{
	position: absolute;
	top: 2%;
	width: 50%;
	left: 25%;
	text-align: center;
	line-height: 1;
	/*background: green;*/
	font-size: 0.9rem;
	color: white;
	font-weight:bold;
}
.close,.stclose,.stclose1,.stclose2,.mclose,.exclose,.finclose{
	position: absolute;
	width: 15%;
	right: -12px;
	top: 0;
}
.selectin{
	position: absolute;
	width: 86%;
	left: 7%;
	/*height: 65%;*/
	top: 13%;
	bottom: 6rem;
	/*background-color: #d0c7a7;
	border: 2px solid #ac8207;*/
	border-radius: 8px;
	overflow-y: scroll;
}
@media only screen and (max-width: 320px) {
	.selectin{
		position: absolute;
	width: 86%;
	left: 7%;
	/*height: 65%;*/
	top: 13%;
	bottom: 5rem;
	/*background-color: #d0c7a7;
	border: 2px solid #ac8207;*/
	border-radius: 8px;
	overflow-y: scroll;
	}
}
@media only screen and (min-width: 376px) and (max-width: 640px) {
	 
	.selectin{
		position: absolute;
	width: 86%;
	left: 9%;
	/*height: 65%;*/
	top: 13%;
	bottom: 5rem;
	/*background-color: #d0c7a7;
	border: 2px solid #ac8207;*/
	border-radius: 8px;
	overflow-y: scroll;
	}
  
}
.confirmselect{
	position: absolute;
	width: 86%;
	left: 7%;
	bottom: 15px;
	height: 2.4rem;
	line-height: 2.2rem;
	background-image: url(../img/btn.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	color: white;
	font-size: 0.8rem;
}
.selectin img{
	width: 40%;
	float: left;
	margin-left: 6%;
	margin-top: 20px;
}
.fgpwboard{	
	position: absolute;
	width: 80%;
	left: 10%;
	top: 24%;
	/*height: 35%;*/
	background-image: url(../img/forgetpassword-board.png);
	background-size: 100% 100%;
	outline: none;
	padding-bottom: 20px;
}
.confirmchange{
	width: 82%;
	background-image: url(../img/btn.png);
	background-size: 100% 100%;
	margin-left: 9%;
	margin-top: 3rem;
	margin-bottom: 1rem;
	height: 2.5rem;
	line-height: 2.3rem;
	font-size: 1rem;
	color: white;
	text-align: center;
}
.music,.effect{
	float: left;
	font-size: 1rem;
	margin-left: 20%;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 5px black;
}

.musicon,.effecton{
	float: right;
	margin-right: 20%;
	height: 1.5rem;
	width: 3.5rem;
	position: relative;
}
.music,.musicon{
	margin-top: 8%;
}
.effect,.effecton{
	margin-top: 5%;
}
#musicbutton,#effectbutton{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	transition: left 0.5s;
}
.pnumber,.findnumber{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
	
}
.pnumberboard{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 40%;
	height: 36%;
	background-image: url(../img/alertBoard.png);
	background-size: 100% 100%;
}
.findboard{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 40%;
	border-top: 1px solid transparent;
	background-image: url(../img/forgetpassword-board.png);
	background-size: 100% 100%;
}
.findboard input[type="password"]{
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	border-radius: 8px;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	font-size: 0.9rem;
	background-color: rgb(231,197,95);
	border: none;
	outline: none;
}
.fsub{
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	height: 2rem;
	line-height: 2rem;
	color: white;
	text-align: center;
	font-size: 1rem;
	background-image: url(../img/btn.png);
	background-size: 100% 100%;
	background-color: transparent;
	margin-bottom: 16px;
	border: none;
	outline: none;
}
.enter2{
	position: absolute;
	width: 100%;
	top: 20%;
	left: 0;
	text-align: center;
	font-size: 1rem;
	color: saddlebrown;
}
.confirmbtn{
	position: absolute;
	width: 90%;
	height: 22%;
	left: 5%;
	bottom: 10%;
}

.pnumberr{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
}
.pnumberboardd{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 40%;
	height: 36%;
	background-image: url(../img/alertBoard.png);
	background-size: 100% 100%;
}
.enter22{
	position: absolute;
	width:67%;
	top: 18%;
	left: 0;
	text-align: center;
	font-size: 0.5rem;
	color: saddlebrown;
	left: 17%;
	height:42.5%;
    overflow: auto;
}
.confirmbtnn{
	position: absolute;
	width: 90%;
	height: 22%;
	left: 5%;
	bottom: 10%;
}



