@media only screen and (min-width: 400px) {
	html {
		font-size: 21.33333333px !important;
	}
}
@media only screen and (min-width: 414px) {
	html {
		font-size: 21px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
.deal{
	width: 100%;
	height: 100%;
	background: url(../img/home-bg.png);
	background-size: 100% 100%;
	position: relative;
	/*display: none;*/
}
.dealhead{
	position: relative;
	width: 100%;
	padding-top: 20px;
	z-index: 2;
	overflow: hidden;
}
.dealwidth{
	width: 14%;
	/*float: left;*/
	/*z-index: 2;*/
}
.dealment{
	width: 84%;
	/*float: left;*/
	/*z-index: 2;*/
}
.dealtop{
	width: 92%;
	/*position: absolute;*/
	margin-left: 4%;
	margin-top: -14.5%;
	float: left;
	z-index: 3;
}
.dealsculp{
	position: absolute;
	right: 6%;
	width: 16%;
	margin-top: -1%;
}
.dealname{
	position: absolute;
	right: 7%;
	margin-top: 1%;
	font-size: 0.75rem;
	line-height: 1.4;
	color: brown;
	background-color: #e7c55f;
	border-radius: 6px;
	width: 36%;
	text-align: center;
	border: 2px solid #ce9f22;
}
/*.....*/
#dealsec{
	position: relative;
	width: 100%;
	height: 79%;
}
.dealsection{
	width: 86%;
	background-image: url(../img/board.png);
	background-size: 100% 100%;
	position: relative;
	left:7%;
    top: -20px;
	z-index: 1;
	height: 100%;
}

.back{
	position: absolute;
	width: 14%;
	left: 8%;
	margin-top: 5%;
}
.dealboard{
	position: relative;
	left: 3%;
	top: 23px;
	background-image: url(../img/paper.png);
	background-size: 100% 100%;
	width: 94%;
	height: 88%;
	border-top: 1px solid transparent;
	/*display: none;*/
	/*overflow-y: auto;*/
}
.dealboard input[type="text"]{
	width: 82%;
	display: block;
	margin-left: 9%;
	border-radius: 10px;
	background: rgb(218,230,192);
	margin-top: 14px;
	border: none;
	height: 1.4rem;
	outline: none;
	text-indent: 0.5em;
	clear: both;
}

.man,.woman{
	width: 0.8rem;
	height: 0.8rem;
	
	border-radius: 0.8rem;
	display: inline-block;
	margin-left: 2%;
	border: 1px solid goldenrod;
}
.man{
	background: #F76249;
}
.yanzhengma{
	display: inline-block;
	width: 27%;
	height: 1.4rem;
	margin-top: 8px;
	margin-bottom: 8px;
	background-image: url(../img/send.png);
	background-size: 100% 100%;
	float: right;
	margin-right: 9%;
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.4rem;
	color: white;
}
.dealboard .confirm{
	display:block;
	width: 82%;
	outline:none;
	border: none;
	margin-left: 9%;
	background-color: transparent;
	height: 2.6rem;
	background-image: url(../img/btn.png);
	background-size: 100% 100%;
	margin-top: 16px;
	font-size: 0.9rem;
	line-height: 2.3rem;
	color: white;
	text-align: center;
	clear: both;
}
.invite_box{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
	left: 0;
	display: none;
	z-index: 1;
}
.invite_board{
    position: absolute;
    width: 88%;
    left: 6%;
    height: 70%;
    top: 16%;
    background-image: url(../img/guize.png);
    background-size: 100% 100%;
}
.invite_exword{
	position: absolute;
    top: 2.5%;
    width: 50%;
    left: 25%;
    text-align: center;
    line-height: 1;
    font-size: 0.9rem;
    color: white;
}
.invite_exclose{
    position: absolute;
    width: 15%;
    right: -12px;
    top: 0;
}
.invite_content_box{
	background-color: rgb(255,247,210);
    border: none;
    margin-top: 3%;
    position: absolute;
    width: 80%;
    left: 10%;
    height: 77%;
    top: 13%;
    border-radius: 8px;
    overflow: auto;
}
.invite_content{
    float: left;
	margin: 10px 10px 10px 10px;
    /*width: 90%;*/
    font-size: 14px;
    color: brown;
}
.invite_info1{
	display: inline-block;
	width: 15%;
	height: 1.4rem;
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.4rem;
	color: rgb(71, 67, 67);
}
.invite_info2{
	display: inline-block;
	width: 22%;
	height: 1.4rem;
	background-size: 100% 100%;
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.4rem;
	color: rgb(71, 67, 67);
	text-decoration:underline;
}
#scrolls::-webkit-scrollbar{width:0px;}
#scrolls::scrollbar{width:0px;}









